<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
            <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1 class="header"><em>CurlStat</em></h1>
    </div>
</md-toolbar>
<div layout="row">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

        <ul>
            <li class="nav"><a href="#home">Home</a></li>
            <li class="nav"><a href="#about">About</a></li>
            <li class="nav"><a href="#contact">Contact</a></li>
            <li class="nav"><a href="#login">Login</a></li>
            <li class="nav"><a href="#register">Register</a></li>
            <li class="nav"><a href="#approute">Stat App</a></li>

        </ul>
    </md-sidenav>
    <md-content class="content">
        <h1><img src="/assets/styles/photos/world_curl.png" display="inline" style="width:50px;height:50px"/><small>Welcome to CurlStat</small></h1>
        <p>Welcome to Curl Stat, a user friendly stat program designed for curlers by a curler.  The overall design idea came when seeing coaches from all over the world
        lugging equipment around while trying to find a place to set up.  Laptops are no longer necessary for the app, but can still be used.  So explore around a bit on
        the site and find out more about the app and its use.  Either sign up for an account to start your season, or take it for a test run and see how you like the feel.</p>



    </md-content>
</div>

<div layout = "row">

</div>

